.navigation-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  opacity:0;
  visibility: hidden;
  transition: visibility 0s, opacity .2s linear;

}

.navigation-menu_type_active {
  transition: opacity .2s, visibility .2s linear;
  opacity: 1;
  visibility: visible;
}

.navigation-menu__content {
  transition: opacity .2s, visibility .2s linear;
  display: flex;
  flex-direction: column;
  width:320px;
  background-color: #fff;
  position: fixed;
  z-index: 1;
  right:0;
  height: 100vh;
  justify-content: space-between;
}

.navigation-menu__header {
  padding: 10px 15px 0px 23px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: absolute;
  right: 0;
  left: 0;
}

.navigation__close:hover {
  cursor: pointer;
  transition: opacity .2s, visibility .2s linear;
  opacity: 0.7;
}

.navigation-menu__footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 38px 30px 30px;
 }
